
.register{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(22,22,22);
    background: linear-gradient(180deg, rgba(39, 39, 39, 0.723) 16%, rgba(97,97,97,0.6811099439775911) 100%);
}