@import url("https://fonts.cdnfonts.com/css/8bit-wonder");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.title {
    font-family: '8BIT WONDER', sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 80px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: 
        typing 3.3s steps(50, end),
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@media (max-width: 668px){
    .title {
        font-size: 15px;
    } 
}