@import url("https://fonts.cdnfonts.com/css/8bit-wonder");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.item{
    height: 70px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.507);
    padding: 5px;
    flex-direction: column;

    &__upSide{
        display: flex;
        width: 100%;
    }

    &__downSide{
        display: flex;
        width: 100%;
        justify-content: flex-end;

        &__buttonDelete {
            background-color: rgba(238, 75, 75, 0.623);
            border: 1px solid rgba(187, 60, 60, 0.623);
            border-radius: 5px;
            color: rgb(226, 226, 226);
            margin-right: 4px;
            cursor: pointer;
        }

        &__buttonDelete:hover{
            background-color: black;
        }

        &__buttonEdit {
            background-color: rgba(75, 86, 238, 0.623);
            border: 1px solid rgba(73, 60, 187, 0.623);
            border-radius: 5px;
            color: rgb(226, 226, 226);
            padding-top: 1px;
            cursor: pointer;
        }
    }

    &__img {
        background-color: white;
        border-radius: 8px;
        height: 50px;
        width: 50px;
        margin-right: 5px;
    }

    &__information{
        display: flex;
        flex-direction: column;
        color: white;
        width: 200px;

        &__title{
            font-size: 8px;
            font-family: '8BIT WONDER', sans-serif;
            margin-bottom: 4px;
        }

        &__info {
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
        }
    }
}

.item:hover{
    background-color: rgba(255, 255, 255, 0.144);
    cursor: pointer;
}

@media (max-width: 668px){
    .item{
        height: 95px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.507);
        align-items: center;
        display: flex;
    
        &__img {
            background-color: white;
            border-radius: 8px;
            height: 50px;
            width: 50px;
            margin-right: 5px;
        }
    
        &__information{
            display: flex;
            flex-direction: column;
            color: white;
            width: 85%;

            &__title{
                font-size: 13px;
                font-family: '8BIT WONDER', sans-serif;
                margin-bottom: 4px;
            }

            &__info {
                font-family: 'Montserrat', sans-serif;
            }
        }
    }

}